:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

	--header-bg-dark: hsl(0, 0%, 13%);
	--header-btn-color: hsl(208, 100%, 62%);

	--header-search-btn: hsl(0, 0%, 20%);
	--header-search-placeholder: hsl(0, 0%, 51%);
	--header-search-input: hsl(0, 0%, 7%);
	--body-bg-dark: hsl(0, 0%, 9%);


	--subscribe__btn: hsl(0, 100%, 40%);

	--anchor--color: hsl(208, 57%, 46%);


}
