@use '../util' as *;

.container {
	padding: 0 rem(24);
	max-width: 100vw;
	margin: 0 auto;
	

	@include flex(space-between, center);
	
}

iframe {

	border: none;
}

.flex--row {

	@include flex(space-between, center);
}