@use '../util' as *;

h1,
h2,
h3 {
	margin: 0;
	line-height: 1.1;
	color: white;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: var(--anchor--color);
}

p,
span {
	color: white;
	margin: 0;
}

h2 {

	font-size: rem(15);
	font-weight: 500;
}
