@use '../util' as *;

button {

    border: none;
    border-radius: rem(5);
    cursor: pointer;
    
}

.signUp__btn {

    max-width: rem(115);
    padding: rem(8);
    font-size: rem(16);
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid var(--header-btn-color);
    color: var(--header-btn-color);
    background: transparent;

    @include flex(space-between, center);

    span {

        display: inline-block;
        margin-right: rem(10);
    }
}

