@use '../util' as *;


header {

    background-color: var(--header-bg-dark);
}



.header__logo__hamburger {

    padding: rem(8);
}

.header__logo__youtube {

    padding: rem(16);
}

.logo__youtube {

    width: rem(90);
    height: rem(20);
}



.header__search__input__container {

    min-width: rem(575);
    min-height: rem(32);


        input {

          flex: 1;
          height: rem(32);
          background-color: var(--header-search-input);
          
          border: none;
        }

        input::placeholder {

            color: var(--header-search-placeholder);
            font-size: rem(16);
            font-weight: bold;
            padding-left: rem(5);
        }

        .search__icon {

            text-align: center;
            width: rem(65);
            
        }
}

.search__icon {

    background-color: var(--header-search-btn);
}

.header__search__voice {

    display:flex;
    justify-content: center;
    align-items: center;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    text-align: center;
    
}


