@use '../util' as *;








// video discripton section

.video__section__view__buttons__wrapper {

   @include flex(space-between, center);
   padding: rem(12);
   border-bottom: 1px solid var(--header-search-placeholder);
   margin-bottom: rem(20);
   /* border: 2px solid magenta; */
    
}

.video__section__buttons {

    display: flex;
}


.video__logo__subscribers__container {

    @include flex(space-between, center);
    /* border: 2px solid magenta; */
}

.video__logo__container {

    @include flex(space-between, center);

}

.channel__name__container {

    @include flex-col(none, none);
    margin-left: rem(16);
}

.channel__name {

    @include flex(center, center);

    span {

        font-size: rem(15);
    }
    
}

.channel--check {

    font-size: 15px;
    color: var(--header-search-placeholder);
    margin-left: 5px;
}

.channel__subscriber > span {

    color: var(--header-search-placeholder);
    font-size: 14px;
    font-weight: 500;
}




// Detailt video description



.summary__container {

    @include flex(flex-start, center);
    margin-top: rem(20);
    margin-bottom: rem(20);
    border-bottom: 1px solid var(--header-search-placeholder);
}

.summary__text {

    width: 50%;
    
    margin-left: rem(50);

    p {

        display: inline-block;
        padding-bottom: 2rem;
        padding-left: rem(16);
    }
}


// Comment section



.comment__section__comments {

    @include flex(flex-start, center);
    margin-bottom: rem(30);

        span {

            margin-right: rem(5);
        }


        button {

            margin-left: rem(30);
        }
   

}


.comment__section__input__container {

    @include flex(flex-start, center);
    margin-bottom: rem(30);
}

.comment__input__wrapper {

    @include flex-col(center, flex-start);
    width: 100%;
    margin-left: rem(15);

}

.input__container {

        width: 100%;
        input {

            background-color: var(--body-bg-dark);
            width: 50%;
            border: none;
        }

        input::placeholder {

            color: var(--header-search-placeholder);
            font-style: var(--font-body);
            font-size: rem(12);
            font-weight: 700;
        }
}

.comment__input__border__div {

    width: 100%;
    flex: 1;
    border: 1px solid var(--header-search-placeholder);
}

.channel__button__wrapper {

    margin-top: rem(15);
    @include flex(flex-start, center);

    
    button {

        margin-right: rem(10);
    }
    span {

        font-size: rem(16);
        margin-right: rem(10);
        
        a {

            margin-left: rem(10);
            font-size: rem(14);
            color: var(--header-search-placeholder);
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}





// posted comments 


.posted__comments__container {

    @include flex(flex-start, flex-start);
    margin-bottom: rem(15);
}

.comment__content {

    margin-left: rem(15);
    width: 90%;
}


.channel__button__wrapper {


    @include flex(flex-start, center);

    a {
        color: var(--header-search-placeholder);
        font-size: rem(13);
        font-weight: bold;
    }
}




.avatar {

    width: rem(48);
    height: rem(48);
    border-radius: 50%;
}

.avatar--comment {

    width: rem(40);
    height: rem(40);
    border-radius: 50%;
}

